<!-- KEYBOARD SHORCUT AND TABS -->
<span class="skipnav">
  <a id="skip2Content" class="pointer" tabindex="0">
    Skip to main content
  </a>
  <a id="skip2Nav" class="pointer" tabindex="0">
    Skip to navigation
  </a>
</span>

<header>
  <!--
        Mobile/DESKTOP Version 1
        -->
  <div class="mobile-container">
    <div class="top-bar"></div>
    <div class="logo">
      <a id="Home-Page" tabindex="0" href="/Home/Index"><img src="https://cdn.lcptracker.net/Common/images/logo.png"
          alt="LCPtracker Logo" /></a>
    </div>
    <div id="nav-trigger" onclick="toggleHam()">
      <div class="icon">
        <div class="bar b1"><span></span></div>
        <div class="bar b2"><span></span></div>
        <div class="bar b3"><span></span></div>
      </div>
    </div>
    <a class="nav-title" tabindex="0">Menu</a>
  </div>
</header>
<!-- @await Html.PartialAsync("_MobileMenu") 
  ** this would reference that component, probably best practice to make that a component in itself.. layout at least.
  -->
<div class="margin-15"></div>


<main>
  <router-outlet></router-outlet>
</main>



<footer class="footer-login">
  <div class="copyright-background"></div>
  <div class="copyright-links">
    <ul>
      <li><a rel="noopener" tabindex="0" target="_blank" href="https://www.lcptracker.com/contact/contact-sales">Contact
          Sales</a>
      </li>
      <li><a rel="noopener" tabindex="0" target="_blank"
          href="https://www.lcptracker.com/contact/contact-support">Contact
          Support</a></li>
      <li><a rel="noopener" tabindex="0" target="_blank" href="https://www.lcptracker.com/about/company">About</a></li>
      <li><a rel="noopener" tabindex="0" target="_blank" href="https://lcptracker.com/education-webinar">Webinar Sign
          Up</a></li>
      <li><a rel="noopener" tabindex="0" target="_blank" href="https://www.lcptracker.com/contact/demo-sign-up">Demo
          Sign Up</a></li>
    </ul>
    <p>{{currentYearLong()}} LCPtracker, Inc. All Rights Reserved </p>
  </div>
</footer>




<!-- FORTIFY CENTRIC -->
<script src="../assets/js/a11y.js"></script>


<script>
  function toggleHam() {
    let ham = document.getElementById('nav-trigger');
    let back = document.getElementById('backdrop');
    let nav = document.getElementById('lcpSidenav');
    if (back.classList.contains('show')) {
      back.classList.remove('show');
      ham.classList.remove('close-nav');
      nav.classList.remove('open');
    } else {
      back.classList.add('show');
      ham.classList.add('close-nav');
      nav.classList.add('open');
    }
  }
</script>
<!-- @RenderSection("scripts", required: false) -->